---
import { Button } from "@/components/ui/button";
import BaseLayout from "./BaseLayout.astro";
import { ArrowLeft, CalendarDays, Clock, History } from "lucide-react";
import { Separator } from "@/components/ui/separator";
import { getCollection } from "astro:content";
import { calculateReadTime } from "@/lib/readTime";
import "../styles/markdown.css";

const { frontmatter } = Astro.props;
const allPosts = await getCollection("blog");
const specificPost = allPosts.find(
    (post) => post.data.title === frontmatter.title
);

const post = {
    ...specificPost,
    readTime: calculateReadTime(specificPost?.body || ""),
    formattedPubDate: new Date(specificPost!.data.pubDate).toLocaleDateString(
        "en-US",
        {
            year: "numeric",
            month: "long",
            day: "numeric",
        }
    ),
    formattedUpdatedDate: specificPost?.data.updatedDate ? new Date(specificPost.data.updatedDate).toLocaleDateString(
        "en-US",
        {
            year: "numeric",
            month: "long",
            day: "numeric",
        }
    )
: null
};
---

<BaseLayout
    pageTitle={frontmatter.title}
    pageDescription={frontmatter.description}
    pageAuthor={frontmatter.author}
    pageOgTitle={frontmatter.title}
    pageOgDescription={frontmatter.description}
    pageOgUrl={frontmatter.url}
    pageOgType={frontmatter.type}
>
    <div class="px-4 sm:px-6 max-w-3xl mx-auto py-16 animate-fade-in">
        <div class="mb-6">
            <a href="/blog" class="inline-flex items-center justify-center text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50 active:scale-[0.95] disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 h-8 gap-1.5 rounded-full px-2.5 select-none border border-input bg-background hover:bg-accent hover:text-accent-foreground">
                <ArrowLeft className="h-4 w-4" />
                Back to blog
            </a>

            <h1 class="text-3xl md:text-4xl font-bold mb-4 mt-4">
                {frontmatter.title}
            </h1>

            <div
                class="flex flex-wrap items-center gap-3 text-sm text-muted-foreground mb-6"
            >
                <div class="flex items-center gap-1">
                    <CalendarDays className="h-4 w-4" />
                    <span>Published {post.formattedPubDate}</span>
                </div>

                {post.data?.updatedDate && (
                    <div class="flex items-center gap-1">
                        <History className="h-4 w-4" />
                        <span>Updated {post.formattedUpdatedDate}</span>
                    </div>
                )}

                <div class="flex items-center gap-1">
                    <Clock className="h-4 w-4" />
                    <span>{post.readTime}</span>
                </div>

            </div>
        </div>

        <Separator className="my-6" />

        <div class="prose prose-lg dark:prose-invert max-w-none prose-p:mb-6">
            <p class="text-xl leading-relaxed mb-6">
                {frontmatter.description}
            </p>

            <slot />
        </div>
    </div>
</BaseLayout>
